@{
    Dictionary<string, string> LangPack = ViewBag.LangPack;
}
<div class="modal fade" id="DeleteArticle" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <style>
            .modal_borders {
                border: none;
            }

            .modal_body {
                min-height: 100px;
                padding: 1rem 1.5rem;
            }
        </style>
        <div class="modal-content">
            @using (Html.BeginForm("DeleteArticle", "Home", FormMethod.Post))
            {
                <input type="hidden" id="delete_article_id" name="id"/>
                <div class="modal-header">
                    <h6 class="modal-title">@LangPack["rm_art_header"]</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal_body">
                    <span class="fs-5">@LangPack["rm_confirmation"] - <span class="">«<span id="delete_article_header">Заголовок статьи</span>»</span>?</span>
                </div>
                <div class="modal-footer modal_borders">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        @LangPack["cancel"]
                    </button>
                    <button type="submit" class="btn btn-outline-dark">@LangPack["rm_art_btn"]</button>
                </div>
            }
        </div>
    </div>
</div>
