@using NewsEditor.Models.DB;
@using NewsEditor.Controllers;
@model News
@{
    string Hostname = HomeController.ControllerRef.Hostname;
    var ArticleImageUrl = Hostname + "Home/GetImage?articleId=" + Model.Id;
    Random rnd = new Random();
    var color = rnd.Next(120, 256);
}
<div class="card h-33 NewsItem" style="
    @if(Model.Image != null)
    {
        @:background-image: url('@ArticleImageUrl');
    }
    else
    {
        @:background-color: rgb(@color, @color, @color);
    }
">
@* Передаем инпут, содержащий id для JavaScript-а *@
    <input type="hidden" value="@Model.Id" />
    <h1>@Model.Header</h1>
    <h6 style="height: 20px;">@Model.SubHeader</h6>
    @Html.Partial("~/Views/UI_Components/News_ListItem_options.cshtml", Model)
</div>