@using NewsEditor.Models.DB;
@using NewsEditor.Controllers;
@model News

<div class="position-relative" style="padding-top: 35px;">
    <div class="position-absolute start-0">
        <a class="btn btn-dark" asp-controller="Home" asp-action="">Открыть статью</a>
    </div>
    <div class="position-absolute end-0">
        <a class="btn btn-dark" asp-controller="Home" asp-action="EditNews" asp-route-newsId="@Model.Id">Редактировать статью</a>
        <button class="btn btn-dark">Удалить статью</button>
    </div>
</div>