@* @{
    ViewData["Title"] = "Home Page";
} *@

@section Scripts {
    
}
@* <script>
    $('#PageContainer').css('padding-right', $('#PageContainer').css('padding-right') + $('#PageContainer').css('margin-right'));
    $('#PageContainer').css('margin-right', '0px');
</script> *@

<div id="Page" style="">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div>
        @* @Html.Partial("~/Views/UI_Components/News_ListItem.cshtml") *@
    </div>
</div>