@{
    Dictionary<string, string> LangPack = ViewBag.LangPack;

    ViewData["Title"] = LangPack["news_list"];
    var IsAuthorized = (bool)(ViewBag.IsAuthorized);
    var User = (Users?)(ViewBag.AuthorizedUser);
}
@using NewsEditor.Models.DB;
@model List<News>

<script>
    $("#PageContainer").removeClass('container');
</script>
<script src="~/js/GetNextNewsInList.js"></script>

<link rel="stylesheet" href="~/css/NewsList_Item.css">

<form asp-action="GetNextNews" asp-controller="Home" method="POST"
data-ajax="true"
data-ajax-update="#NextNews"
data-ajax-complete="GetNextNewsResponse();"
class="d-none">
    <input id="last_shown_article_id" name="lastShownArticleId" type="hidden" value="@Model.LastOrDefault(new News{ Id = -1}).Id"/>
    <input id="GetNextNews" type="submit"/>
</form>
<div id="NextNews" class="d-none"></div>
<div>
    <div class="overflow-auto" style="max-height: 72vh;" onscroll="onNewsScroll(this);">
        <div id="NewsContainer" class="container">
            @foreach (var article in Model)
            {
                @Html.Partial("~/Views/UI_Components/News_ListItem.cshtml", article)
            }
            @if (Model.Count == 0)
            {
                <div>
                    <h4>@LangPack["home_no_items"]</h4>
                </div>
            }
        </div>
    </div>
    @if (IsAuthorized)
    {
        <div class="container pt-2" style="padding-left: 4px;">
            <a class="btn btn-outline-dark col-2" asp-controller="Home" asp-action="CreateNews">@LangPack["create_article"]</a>
        </div>
    }
</div>
