@{
    ViewData["Title"] = "News List";
}
@using NewsEditor.Models.DB;
@model List<News>

<script>
    $("#PageContainer").removeClass('container');
</script>
<script src="~/js/GetNextNewsInList.js"></script>

<link rel="stylesheet" href="~/css/NewsList_Item.css">

<form asp-action="GetNextNews" asp-controller="Home" method="POST"
      data-ajax="true"
      data-ajax-update="#NextNews"
      data-ajax-complete="GetNextNewsResponse();"
      class="d-none">
    <input id="last_shown_article_id" name="lastShownArticleId" type="hidden" value="@Model.LastOrDefault(new News{ Id = -1}).Id"/>
    <input id="GetNextNews" type="submit"/>
</form>
<div id="NextNews" class="d-none"></div>
<div>
    <div class="overflow-auto" style="max-height: 72vh;" onscroll="onNewsScroll(this);">
        <div id="NewsContainer" class="container">
            @foreach (var article in Model)
            {
                @Html.Partial("~/Views/UI_Components/News_ListItem.cshtml", article)
            }
        </div>
    </div>
    <div class="container pt-2" style="padding-left: 4px;">
        <a class="btn btn-outline-dark col-2" asp-controller="Home" asp-action="CreateNews">Создать статью</a>
    </div>
</div>
